@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0.0% 98.0%;
  --foreground: 240 5.9% 10.0%;
  --card: 0 0.0% 100.0%;
  --card-foreground: 240 10.0% 3.9%;
  --popover: 0 0.0% 100.0%;
  --popover-foreground: 240 10.0% 3.9%;
  --primary: 240 5.9% 10.0%;
  --primary-foreground: 0 0.0% 98.0%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 10.0% 3.9%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --body-foreground: 240 5.3% 26.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 10.0% 3.9%;
  --destructive: 15 68.6% 56.3%;
  --destructive-foreground: 0 0.0% 98.0%;
  --warning: 38 92.1% 50.2%;
  --warning-foreground: 0 0.0% 98.0%;
  --success: 160 84.1% 39.4%;
  --success-foreground: 0 0.0% 98.0%;
  --border: 240 5.9% 90.0%;
  --input: 240 5.9% 90.0%;
  --ring: 240 5.9% 10.0%;
  --radius: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

.dark {
  --background: 240 5.9% 10.0%;
  --foreground: 0 0.0% 98.0%;
  --card: 240 3.7% 15.9%;
  --card-foreground: 0 0.0% 98.0%;
  --popover: 240 3.7% 15.9%;
  --popover-foreground: 0 0.0% 98.0%;
  --primary: 0 0.0% 98.0%;
  --primary-foreground: 240 10.0% 3.9%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0.0% 98.0%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5.0% 64.9%;
  --body-foreground: 240 5.9% 90.0%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0.0% 98.0%;
  --destructive: 15 68.6% 56.3%;
  --destructive-foreground: 0 0.0% 98.0%;
  --warning: 38 92.1% 50.2%;
  --warning-foreground: 0 0.0% 98.0%;
  --success: 160 84.1% 39.4%;
  --success-foreground: 0 0.0% 98.0%;
  --border: 240 5.3% 26.1%;
  --input: 240 5.3% 26.1%;
  --ring: 0 0.0% 98.0%;
}

* {
  border-color: hsl(var(--border));
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}